svg{
  // border: 1px solid red;
  width: 50vw;
}
#entwickler {
  visibility: hidden;
}

#desarrollador {
  visibility: hidden;
}

#splatter1 {
  visibility: hidden;
}

#splatter2 {
  visibility: hidden;
}

#topmoon {
  visibility: hidden;
}
#moon {
  visibility: hidden;
}
#ufo {
  visibility: hidden;
}
#schriftstellor {
  visibility: hidden;
}
#escritor {
  visibility: hidden;
}
#entwickler {
  visibility: hidden;
}
#pedagoge {
  visibility: hidden;
}
#profesor {
  visibility: hidden;
}
#desarrollador {
  visibility: hidden;
}
#writer {
  visibility: hidden;
}
#developer {
  visibility: hidden;
}
#educator {
  visibility: hidden;
}
#aaronBlumSolid {
  visibility: hidden;
}
#aaronBlumOutline {
  visibility: show;
}
#letter1 {
  visibility: hidden;
}
#underline{
  visibility: hidden;
}
#solidunderline{
  visibility: hidden;
}
#extraR1{
  visibility: hidden;
}
#extraR2{
  visibility: hidden;
}
#extraR3{
  visibility: hidden;
}
#extraR4{
  visibility: hidden;
}
