  #careflex-background {
    // height: 100%;
    .cls-1,
    .cls-8 {
      fill: #e4eaef;
    }

    .cls-1 {
      opacity: 0.3;
    }

    .cls-1,
    .cls-6 {
      isolation: isolate;
    }

    .cls-2 {
      fill: #303438;
    }

    .cls-3 {
      fill: #009640;
    }

    .atom-bulbs {
      fill: #646e78;
    }
    .atom-bulbs-stem {
      fill: #646e78;
    }

    .cls-5 {
      fill: #fff;
    }

    .cls-6 {
      opacity: 0.49;
    }

    .cls-7 {
      fill: #c1cad1;
    }

    .cls-9 {
      fill: #009540;
    }

    .cls-10 {
      fill: #b0b1b2;
    }

    .cls-11 {
      fill: #626261;
    }
  }
