// .ixi-loader {
//   width: 100%;
  
// }

.cls-1,
  .cls-9 {
    fill: none;
  }

  .cls-2,
  .cls-35 {
    fill: #71aedb;
  }

  .cls-2 {
    opacity: 0.1;
  }

  .cls-2,
  .cls-24,
  .cls-27 {
    isolation: isolate;
  }

  .cls-3 {
    fill: url(#linear-gradient);
  }

  .cls-10,
  .cls-4 {
    fill: #fff;
  }

  .cls-10,
  .cls-4,
  .cls-9 {
    stroke: #256a9e;
  }

  .cls-10,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-9 {
    stroke-miterlimit: 10;
  }

  .cls-5 {
    fill: #256a9e;
    stroke: #fff;
  }

  .cls-6 {
    fill: #286b9e;
  }

  .cls-6,
  .cls-7 {
    stroke: #286b9e;
    stroke-width: 0.5px;
  }

  .cls-7 {
    fill: #71adda;
  }

  .cls-8 {
    fill: url(#linear-gradient-2);
  }

  .cls-10,
  .cls-9 {
    stroke-linecap: round;
  }

  .cls-11 {
    fill: url(#linear-gradient-3);
  }

  .cls-12 {
    fill: url(#linear-gradient-4);
  }

  .cls-13 {
    fill: #38373a;
  }

  .cls-14 {
    fill: url(#linear-gradient-5);
  }

  .cls-15 {
    fill: url(#linear-gradient-6);
  }

  .cls-16 {
    fill: url(#linear-gradient-7);
  }

  .cls-17 {
    fill: url(#linear-gradient-8);
  }

  .cls-18 {
    fill: url(#linear-gradient-9);
  }

  .cls-19 {
    fill: url(#linear-gradient-10);
  }

  .cls-20 {
    fill: url(#linear-gradient-11);
  }

  .cls-21 {
    fill: url(#linear-gradient-12);
  }

  .cls-22 {
    fill: url(#linear-gradient-13);
  }

  .cls-23 {
    fill: #d6eefc;
  }

  .cls-24 {
    opacity: 0.2;
  }

  .cls-25 {
    clip-path: url(#clip-path);
  }

  .cls-26 {
    clip-path: url(#clip-path-2);
  }

  .cls-28 {
    fill: #2a6f9d;
  }

  .cls-29 {
    fill: #71a8d6;
  }

  .cls-30 {
    fill: #b2b2b2;
  }

  .cls-31 {
    clip-path: url(#clip-path-4);
  }

  .cls-32 {
    clip-path: url(#clip-path-5);
  }

  .cls-33 {
    fill: url(#radial-gradient);
  }

  .cls-34 {
    fill: #063f63;
  }
