#kinkytower {
    width: 15rem;
    // height: 130%;
    // border: 1px solid green;
}

#moon {
    visibility: visible;
}
#innermoon {
    visibility: visible;
    // border: 1px solid green;
}

.kt-cls-1 {
    fill: #e36869;
}

.kt-cls-2 {
    fill: none;
    stroke: #f4a6a2;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

.kt-cls-3 {
    fill: #222;
}

.kt-cls-4 {
    fill: #231f20;
}

.kt-cls-5 {
    fill: #202020;
}

.kt-cls-6 {
    fill: #db4f56;
}

.kt-cls-7 {
    fill: #393939;
}
